<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<h1>Category List</h1>
<h2>
    <a th:href="@{/category/create}">
        Add new category
    </a>
</h2>
<table id = "blogs">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category,rowStat : ${categoryList}">
        <td th:text="${rowStat.index} + 1"></td>
        <td th:text="${category.getName()}"></td>
        <td><a th:href="@{/category/{id}/edit(id=${category.getId()})}">Edit</a></td>
        <td><a th:href="@{/category/{id}/delete(id=${category.getId()})}">Delete</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/categorys'(page=${categoryList.number - 1})}" th:if="${categoryList.hasPrevious()}">Previous</a>
    <span th:text="${categoryList.number + 1}"></span>/<span th:text="${categoryList.totalPages}"></span>
    <a th:href="@{'/categorys'(page=${categoryList.number + 1})}" th:if="${categoryList.hasNext()}">Next</a>
</div>
</body>
</html>