<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form action="" th:action="@{/}" th:object="${user}" method="post" >
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{firstName}" ></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName Error</td>
            <td>Last Name</td>
            <td><input type="text" th:field="*{lastName}" ></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">LastName Error</td>
            <td>Age </td>
            <td><input type="text" th:field="*{age}" ></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</td>
            <td>Phone Number</td>
            <td><input type="text" th:field="*{number}" ></td>
            <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Number Error</td>
            <td>Email</td>
            <td><input type="text" th:field="*{email}" ></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>
    </table>
        <button type="submit">Submit</button>
</form>

</body>
</html>