<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Employee</title>
</head>
<body>
    <div>
        <form th:action="@{/employee/save}" th:object="${employee}" method="post">
            <input type="hidden" th:field="*{employeeId}"/>
            <div>
                <label>Name: </label>
                <input type="text" th:field="*{employeeName}"/>
            </div>
            <div>
                <label>ID Card: </label>
                <input type="text" th:field="*{employeeIdCard}"/>
            </div>
            <div>
                <label>Số Điện Thoại: </label>
                <input type="text" th:field="*{employeePhone}"/>
            </div>
            <div>
                <label>Email: </label>
                <input type="text" th:field="*{employeeEmail}"/>
            </div>
            <div>
                <label>Salary: </label>
                <input type="text" th:field="*{employeeSalary}"/>
            </div>
            <div>
                <label>Education Degree: </label>
                <select th:field="*{educationDegree}">
                    <option th:each="p : ${educationdegree}" th:value="${p.educationDegreeId}" th:text="${p.educationDegreeName}"></option>
                </select>
            </div>
            <div>
                <label>Position: </label>
                <select th:field="*{position}">
                    <option th:each="p : ${position}" th:value="${p.positionId}" th:text="${p.positionName}"></option>
                </select>
            </div>
            <div>
                <label>Division: </label>
                <select th:field="*{division}">
                    <option th:each="p : ${division}" th:value="${p.divisionId}" th:text="${p.divisionName}"></option>
                </select>
            </div>

            <input type="submit" value="Save"></input>
        </form>
    </div>
</div>

</body>
</html>