<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head">
    <meta charset="UTF-8">
    <title>List Employee</title>
</head>
<body>
<div th:replace="/layout/layout :: header "></div>
<div th:replace="/layout/layout :: nav1"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" style="text-align: center">
            <h5>Item One</h5>
            <h5>Item Two</h5>
            <h5>Item Three</h5>
        </div>
        <div class="col-sm-10" align="center" style="border-left: black solid" >
            <h2>Create Employee</h2>
            <div>
                <form th:action="@{/employee/save}" th:object="${employee}" method="post">
                    <input type="hidden" th:field="*{employeeId}"/>
                    <div class="row">
                        <div class="col-8">

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Employee Name</label>
                                <div class="col-sm-10">
                                    <input th:field="*{employeeName}" type="text" class="form-control" id="inputEmail3">
                                    <div  class="alert alert-dark" role="alert">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">ID Card</label>
                                <div class="col-sm-10">
                                    <input th:field="*{employeeIdCard}" type="number" class="form-control" >
                                    <div  class="alert alert-dark" role="alert">
                                        <div th:if="${#fields.hasErrors('employeeIdCard')}" th:errors="*{employeeIdCard}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Số Điện Thoại</label>
                                <div class="col-sm-10">
                                    <input th:field="*{employeePhone}" type="number" class="form-control" >
                                    <div  class="alert alert-dark" role="alert">
                                        <div th:if="${#fields.hasErrors('employeePhone')}" th:errors="*{employeePhone}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input th:field="*{employeeEmail}" type="email" class="form-control" >
                                    <div  class="alert alert-dark" role="alert">
                                        <div th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Birthday</label>
                                <div class="col-sm-10">
                                    <input th:field="*{employeeBirthday}" type="date" class="form-control" >
                                    <div  class="alert alert-dark" role="alert">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Salary</label>
                                <div class="col-sm-10">
                                    <input th:field="*{employeeSalary}" type="number" class="form-control" >
                                    <div  class="alert alert-dark" role="alert">
                                        <div th:if="${#fields.hasErrors('employeeSalary')}" th:errors="*{employeeSalary}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Education Degree</label>
                                <div class="col-sm-10">
                                    <select th:field="*{educationDegree}" class="form-control">
                                        <option th:each="p : ${educationdegree}" th:value="${p.educationDegreeId}" th:text="${p.educationDegreeName}"></option>

                                    </select>
                                    <div  class="alert alert-dark" role="alert">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Education Degree</label>
                                <div class="col-sm-10">
                                    <select th:field="*{position}" class="form-control">
                                        <option th:each="p : ${position}" th:value="${p.positionId}" th:text="${p.positionName}"></option>

                                    </select>
                                    <div  class="alert alert-dark" role="alert">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Education Degree</label>
                                <div class="col-sm-10">
                                    <select th:field="*{division}" class="form-control">
                                        <option th:each="p : ${division}" th:value="${p.divisionId}" th:text="${p.divisionName}"></option>

                                    </select>
                                    <div  class="alert alert-dark" role="alert">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary">SAVE</button>
<!--                    <input type="submit" value="Save"></input>-->
                </form>
            </div>
        </div>
        </div>
</div>
<div th:replace="/layout/layout :: footer"></div>
</body>
</html>

