<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head">
    <meta charset="UTF-8">
    <title>List Employee</title>
</head>
<body>
<div th:replace="/layout/layout :: header "></div>
<div th:replace="/layout/layout :: nav1"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" style="text-align: center">
            <h5>Item One</h5>
            <h5>Item Two</h5>
            <h5>Item Three</h5>
        </div>

        <div class="col-sm-10" align="center" style="border-left: black solid" >
            <h3><a href="/employee/create">Add Employee</a></h3>
            <table class="table">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Employee Name</th>
                    <th>Employee Birthday</th>
                    <th>Employee ID Card</th>
                    <th>Employee Phone</th>
                    <th>Employee Email</th>
                    <th>Employee Salary</th>
                    <th>Position</th>
                    <th>Education Degree</th>
                    <th>Division</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee,rowstat : ${employeelist}">
                    <td th:text="${rowstat.index +1}"></td>
                    <td th:text="${employee.employeeName}"></td>
                    <td th:text="${employee.employeeBirthday}"></td>
                    <td th:text="${employee.employeeIdCard}"></td>
                    <td th:text="${employee.employeePhone}"></td>
                    <td th:text="${employee.employeeEmail}"></td>
                    <td th:text="${employee.employeeSalary}"></td>
                    <td th:text="${employee.position.positionName}"></td>
                    <td th:text="${employee.educationDegree.educationDegreeName}"></td>
                    <td th:text="${employee.division.divisionName}"></td>
                    <td><a th:href="@{/employee/{id}/edit(id=${employee.getEmployeeId()})}">Edit</a></td>
                    <td><a th:href="@{/employee/{id}/delete(id=${employee.getEmployeeId()})}">Delete</a></td>
                    <td><a th:href="@{/employee/{id}/view(id=${employee.getEmployeeId()})}">View</a></td>
                </tr>
                </tbody>
            </table>
            <div>
                <a th:href="@{'/employeelist'(page=${employeelist.number - 1})}" th:if="${employeelist.hasPrevious()}">Previous</a>
                <span th:text="${employeelist.number + 1}"></span>/<span th:text="${employeelist.totalPages}"></span>
                <a th:href="@{'/employeelist'(page=${employeelist.number + 1})}" th:if="${employeelist.hasNext()}">Next</a>
            </div>
        </div>

    </div>
</div>
<div th:replace="/layout/layout :: footer"></div>
</body>
</html>


