<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<body>
<h3>Product</h3>
<a th:href="@{/product/cart}"></a>
<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Add to cart</th>
        <th>View</th>
    </tr>
    <tr th:each="row,rowStat: ${products}">
        <td th:text="${row.name}"></td>
        <td th:text="${row.price}"></td>
        <td><a th:href="@{/product/{id}/add(id=${row.getId()})}">Add to cart</a></td>
        <td><a th:href="@{/product/{id}/view(id=${row.getId()})}">View</a></td>
    </tr>
</table>
</body>
</html>