<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head">
    <meta charset="UTF-8">
    <title>List Employee</title>
</head>
<body>
<div th:replace="/layout/layout :: header "></div>
<div th:replace="/layout/layout :: nav1"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" style="text-align: center">
            <h5>Item One</h5>
            <h5>Item Two</h5>
            <h5>Item Three</h5>
        </div>
        <div class="col-sm-10" align="center" style="border-left: black solid" >
            <h2>Create Customer</h2>
            <div>
                <form th:action="@{/customer/save}" th:object="${customer}" method="post">
                    <input type="hidden" th:field="*{customerId}"/>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Employee Name</label>
                                <div class="col-sm-10">
                                    <input th:field="*{customerName}" type="text" class="form-control" id="inputEmail3">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">ID Card</label>
                                <div class="col-sm-10">
                                    <input th:field="*{customerIdCard}" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Số Điện Thoại</label>
                                <div class="col-sm-10">
                                    <input th:field="*{customerPhone}" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input th:field="*{customerEmail}" type="email" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Birthday</label>
                                <div class="col-sm-10">
                                    <input th:field="*{customerBirthday}" type="date" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Customer Address</label>
                                <div class="col-sm-10">
                                    <input th:field="*{customerAddress}" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label  class="col-sm-2 col-form-label">Customer Gender</label>
                                <div class="col-sm-10">
                                    <input th:field="*{customerGender}" type="text" class="form-control" >
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">CustomerType</label>
                                <div class="col-sm-10">
                                    <select th:field="*{customerType}" class="form-control">
                                        <option th:each="p : ${customertype}" th:value="${p.customerTypeId}" th:text="${p.customerTypeName}"></option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-secondary">SAVE</button>
                    <!--                    <input type="submit" value="Save"></input>-->
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="/layout/layout :: footer"></div>
</body>
</html>

