<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head">
    <meta charset="UTF-8">
    <title>List Employee</title>
</head>
<body>
<div th:replace="/layout/layout :: header "></div>
<div th:replace="/layout/layout :: nav1"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" style="text-align: center">
            <h5>Item One</h5>
            <h5>Item Two</h5>
            <h5>Item Three</h5>
        </div>

        <div class="col-sm-10" align="center" style="border-left: black solid" >
            <h3><a href="/customer/create">Add Customer</a></h3>
            <div style="padding-left: 1050px ; ">
                <form th:action="@{/customer/search}" class="form-inline my-2 my-lg-0">
                    <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="background: white ; color: gray">Search</button>
                </form>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Customer Name</th>
                    <th>Customer Birthday</th>
                    <th>Customer ID Card</th>
                    <th>Customer Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer,rowstat : ${customerlist}">
                    <td th:text="${rowstat.index +1}"></td>
                    <td th:text="${customer.customerName}"></td>
                    <td th:text="${customer.customerBirthday}"></td>
                    <td th:text="${customer.customerIdCard}"></td>
                    <td th:text="${customer.customerEmail}"></td>
                    <td><a th:href="@{/customer/{id}/edit(id=${customer.getCustomerId()})}">Edit</a></td>
                    <td><a th:href="@{/customer/{id}/delete(id=${customer.getCustomerId()})}">Delete</a></td>
                    <td><a th:href="@{/customer/{id}/view(id=${customer.getCustomerId()})}">View</a></td>
                </tr>
                </tbody>
            </table>
            <div>
                <a th:href="@{'/customerlist'(page=${customerlist.number - 1})}" th:if="${customerlist.hasPrevious()}">Previous</a>
                <span th:text="${customerlist.number + 1}"></span>/<span th:text="${customerlist.totalPages}"></span>
                <a th:href="@{'/customerlist'(page=${customerlist.number + 1})}" th:if="${customerlist.hasNext()}">Next</a>
            </div>
        </div>

    </div>
</div>
<div th:replace="/layout/layout :: footer"></div>
</body>
</html>


