<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/templates/lib/bootstrap.min.css">
    <style>
        *{
            box-sizing: border-box;
        }
    </style>
    <meta charset="UTF-8">
    <title>San Pham 4</title>
</head>
<body>
<div class="row">
    <div class="col-4">
        <img src="/img/hoa4.jpg" alt="">
        <div style="text-align: center">
            <p>Mã SP: 4564</p>
            <hr>
            <del>Giá Cũ: 600.000</del>
            <p>Giá Mới: 500.000</p>
            <button>MUA NGAY</button>
        </div>
    </div>
</div>
</body>
</html>