<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/templates/lib/bootstrap.min.css" >
    <style>
        *{
            box-sizing: border-box;
        }
    </style>
    <meta charset="UTF-8">
    <title>San Pham 1</title>
</head>
<body>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create}" , th:object="${productAdd}" method="post">
<div class="row">
    <div class="col-4">
        <img src="/img/hoa1.jpg" alt="">
        <div style="text-align: center">
             <p>Mã SP: 4564</p>
            <hr>
             <del>Giá Cũ: 400.000</del>
             <p>Giá Mới: 350.000</p>
            <button type="submit" th:field="*{price}">MUA NGAY</button>
        </div>
    </div>
</div>
</form>
</body>
</html>