<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head">
    <meta charset="UTF-8">
    <title>List Employee</title>
</head>
<body>
<div th:replace="/layout/layout :: header "></div>
<div th:replace="/layout/layout :: nav1"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" style="text-align: center">
            <h5>Item One</h5>
            <h5>Item Two</h5>
            <h5>Item Three</h5>
        </div>
        <div class="col-sm-10" align="center" style="border-left: black solid" >
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2" style="text-align: center">
                        <h5>Item One</h5>
                        <h5>Item Two</h5>
                        <h5>Item Three</h5>
                    </div>
                    <div class="col-sm-10" align="center" style="border-left: black solid" >
                        <div>
                            <form th:action="@{/service/save}" th:object="${service}" method="post">
                                <input type="hidden" th:field="*{serviceId}"/>
                                <div>
                                    <label>Name: </label>
                                    <input type="text" th:field="*{serviceName}"/>
                                </div>
                                <div>
                                    <label>Diện Tích Sử Dụng: </label>
                                    <input type="text" th:field="*{useArea}"/>
                                </div>
                                <div>
                                    <label>Chi Phí Sử Dụng: </label>
                                    <input type="text" th:field="*{serviceCost}"/>
                                </div>
                                <div>
                                    <label>Số Lương Người Tối Đa: </label>
                                    <input type="text" th:field="*{serviceMaxPeople}"/>
                                </div>
                                <div>
                                    <label>Kiểu Thuê: </label>
                                    <select th:field="*{rentType}">
                                        <option th:each="p : ${renttype}" th:value="${p.rentTypeId}" th:text="${p.rentTypeName}"></option>
                                    </select>
                                </div>

                                <input type="submit" value="Save"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div th:replace="/layout/layout :: footer"></div>
</body>
</html>


